        * {
            margin: 0;
            padding: 0;
            /* background-color: black; */
            /* text-align: right; */
        }

        .thisdiv {
            margin: 30px 30px;
            /* margin-right: 30px; */
            background-color: #cdeafd;
            border-style: solid;
            border-color: black;
            border-width: 3px;
            padding: 5px;
        }

        .thisdiv p {
            margin-bottom: 6px;
            line-height: 1.25;
            /* text-align: justify; */
            padding: 3px 1px;
            /* color: rgb(140, 0, 255); */
            color: rgb(22, 4, 85);
            background-color: #FFDD88;
            font-family: "Noto Sans TC", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }

        .thisspanchi p {
            background-color: #FF8899;
        }

        .thish2 {
            color: aliceblue;
            background-color: #3388bb;
            padding: 10px;
            margin: 5px 0 5px 0
        }

        .thisfig {
            float: left;
            background-color: rgb(246, 246, 156);
            border-style: solid;
            border-color: palevioletred;
            border-width: 3px;
            padding: 20px;
            margin: 20px
        }

        .thisimg {
            max-width: 50vw;
        }

        .noto-sans-tc-normal {
            font-family: "Noto Sans TC", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }